<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div class="container mx-auto justify-content-center p-5">

    <div class="col-4 mx-auto">
        <p class="   bg-secondary-subtle">Internal server error 502. Bad gateway.</p>
    </div>

    <div
            class=" row justify-content-center "><img src="/images/5--.jpg" alt="img" class="w-75">
    </div>


</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>

</html>