
 /* body {
     background-image: url('/images/1.jpg');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #464646;
 } */
  /* body header.header-main {
     background: none #1d1f24;
     height: 6.5rem;
 } */
.page-wrap{
    background: none transparent;
    transition: left 400ms cubic-bezier(.16, .04, .14, 1);
    position: relative;
    left: 0;
    min-width: 20rem;

}



.container, .container-fluid {
     padding-top: 20px;
}

.bg-text {
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
     color: white;
     font-weight: bold;
     border: 3px solid #f1f1f1;
     z-index: 2;
     width: 80%;
     padding: 20px;
     text-align: center;
}

.brand-section {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

td, th {
     padding: 3px 8px;
}

.card.offer, .offer-details .list-group-item {
     background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}
.card-img-top-wrapper {
     height: 150px;
     overflow:hidden;
}

form.main-form {
   /* border:solid 1px black;*/
    padding:10px 30px;
    margin-bottom:2rem;

}
form-group{
text-align:center;
}

/*a {
text-decoration: none;

 }*/
/* .main-container a{
  color:black;
 }*/
footer a {
  color:white;
  }
 /* .navlist li a {
   color:white;
  }*/


.field-error {
     background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="red" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg> ') no-repeat top right/30px 30px;
}

.logged-user {
     color: white;
}
.contacts p{
margin:0;
}
.navlist li{
padding:2em

}
.contacts h6{
border-bottom: solid 1px darkgrey;
margin-bottom:1em;
}

/* Footer */
footer {
   margin-top: 2rem;
     /*background: var(--dark);*/
     color: var(--light);
     text-align: center;

}


