<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div>
    <div class="main-container container justify-content-center ">
        <div class="row ">
            <div th:replace="~{fragments/sidebar}"></div>

            <div class="col-10  text-center ">
                <div class="row row-cols-sm-3  ">
                    <div class="col" th:each="p:${products}">
                        <a class="product-link" th:href="@{/product/{pid}(pid=${p.compositeName()})}">
                            <div class="container">
                                <div class="img-thumbnail rounded " style="width: 300px; height: 200px;">
                                    <img th:src="@{${p.pictureURL}}" alt="image" class="h-100"></div>
                                <div th:text="${p.name}"></div>
                                <div><span> Price: </span>
                                    <th:block th:text="${#numbers.formatCurrency(p.price*currDTO.rate)}"></th:block>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <nav class="pt-5" aria-label="Page navigation">
                    <ul class="pagination ">

                        <!-- previous page -->
                        <li class="page-item" th:classappend="${products.isFirst() ? 'disabled' : ''}">
                            <a th:if="${products.isFirst()}" class="page-link" href="#" aria-label="First"><span
                                    aria-hidden="true">Previous</span></a>
                            <a th:unless="${products.isFirst()}" class="page-link"
                               th:href="@{${currentCategory}(page=${products.getNumber()-1})}"
                               aria-label="Previous"><span aria-hidden="true">Previous</span></a>
                        </li>


                        <!--loop pages -->
                        <li class="page-item" th:classappend="${products.getNumber()==page ? 'active' : '' }"
                            th:each="page:${#numbers.sequence(0,products.getTotalPages()-1)}"><a
                                class="page-link" th:href="@{${currentCategory}(page=${page})}" th:text="${page}+1"></a>
                        </li>
                        <!-- next page -->
                        <li class="page-item" th:classappend="${products.isLast() ? 'disabled' : ''}">
                            <a th:if="${products.isLast()}" class="page-link" href="#" aria-label="Next"><span
                                    aria-hidden="true">Next</span></a>
                            <a th:unless="${products.isLast()}" class="page-link"
                               th:href="@{${currentCategory}(page=${products.getNumber()+1})}"
                               aria-label="Next"><span aria-hidden="true">Next</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>
<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>