<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container ">
    <div class="row text-center ">
        <div class="col  ">
            <div class="col-4 mx-auto  m-5 ">
                <h4>Add your own comment:</h4>
                <form id="new-comment-form"
                      th:action="@{/api/comment/add}"
                      th:method="POST"
                      th:object="${commentDTO}"
                      class="  d-flex flex-column ">
                    <div class="form-floating pt-3 ">
                        <input id="user_name"
                               th:name="user_name"
                               th:errorclass="is-invalid "
                               type="text"
                               class="form-control">
                        <label for="user_name">*Enter your name</label>
                    </div>

                    <div class="form-floating  pt-3  ">
                        <input id="title"
                               th:name="title"
                               type="text"
                               class="form-control"/>
                        <label for="title">*Enter title for your comment</label>
                    </div>
                    <div class="form-floating  pt-3  ">
                        <input id="body"
                               th:name="body"
                               type="text"
                               class="form-control"/>
                        <label for="body">*Share your thoughts</label>
                    </div>

                    <div class="button-holder p-3 d-flex">
                        <button type="button" id="add-comment-button" class="btn btn-danger btn mx-auto">Add comment</button>
                    </div>
                </form>

                <div class="input-group input-group-sm mb-3" id="single-comment-container">
                    <span class="input-group-text">ID:</span>
                    <input type="number" class="form-control" id='single-comment-input'>
                    <button id='single-comment-button' class='btn btn-danger'>Get</button>
                </div>


                <div class="input-group input-group-sm mb-3" id="delete-comment-container">
                    <span class="input-group-text">ID:</span>
                    <input type="number" class="form-control" id='delete-comment-input'>
                    <button id='delete-comment-button' class='btn btn-danger'>Delete</button>
                </div>


            </div>
            <div class='button-holder mt-5'>
                <button id='get-all-button' class='btn btn-danger'>View all</button>
            </div>
            <div class='data-container mt-5'></div>

        </div>
    </div>
</div>


<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

<script type="text/javascript" th:src="@{/js/comments.js}"></script>

</body>

</html>