<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>internationalisation Page</h1>
<h1 th:text="#{greeting}"></h1>

<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="de" th:text="#{lang.de}"></option>
    <option value="bg" th:text="#{lang.bg}"></option>
    <option value="pl" th:text="#{lang.pl}"></option>


</select>
<span th:text="${#locale.language}"></span>.
<span th:text="${#locale.country}"></span>.

<!--<br><span th:text="#{plural(0)}"></span>-->
<!--<br><span th:text="#{plural(1)}"></span>-->
<!--<br><span th:text="#{plural(22)}"></span>-->

<!--<p th:text="#{email.dailyAlert.greeting.newTemplate(${#strings.capitalize(orgSlug)})}"></p>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('internationalisation?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>