<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container justify-content-center ">
    <div th:if="${message}"
         class="container text-center text-color w-25 p-3 border border-success-subtle border-5 rounded-1"
         th:text="${message}"></div>


    <div class=" w-25 m-auto text-center ">
        <h4 class="text-dark "><span>Welcome </span>
            <th:block sec:authentication="principal.firstName">First name</th:block>
            <span>! </span>
        </h4>
        <div class=" container text-center ">
            <div class="col border-bottom">Personal data:</div>

            <div class="row" sec:authentication="principal.firstName"> First name</div>
            <div class="row" sec:authentication="principal.lastName">Last name</div>

            <div class="col border-bottom ">Address:</div>
            <div class="row" sec:authentication="principal.email">email</div>
            <div class="row" sec:authentication="principal.address">address</div>
        </div>

        <div class="col border-bottom">Update personal data:</div>

        <form id="updateMainProfile"
              th:action="@{/user/main}"
              th:method="POST"
              th:object="${userUpdateMainDetailsDTO}"
              class="mx-auto col-md-12 flex-column justify-content-center ">

            <input type="hidden" th:errorclass="is-invalid" th:name="currentEmail" th:field="*{currentEmail}">
            <p th:if="${#fields.hasErrors('currentEmail')}" th:errors="*{currentEmail}"
               class="invalid-feedback errors alert alert-danger"></p>

            <div class="form-group pt-3 py-2 border-top ">
                <input id="firstName"
                       th:name="firstName"
                       th:errorclass="is-invalid "
                       type="text"
                       th:field="*{firstName}"
                       class="form-control"
                       placeholder="First name..."/>
                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                   class="invalid-feedback errors alert alert-danger"></p>
            </div>


            <div class="form-group py-2">
                <input id="lastName"
                       th:name="lastName"
                       th:errorclass="is-invalid "
                       type="text"
                       th:field="*{lastName}"
                       class="form-control"
                       placeholder="Last name..."/>
                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                   class="invalid-feedback errors alert alert-danger"></p>
            </div>

            <div class="form-group py-2 ">
                <input id="address"
                       th:name="address"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       th:field="*{address}"
                       placeholder="Enter your address..."/>
                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                   class="invalid-feedback errors alert alert-danger"></p>
            </div>
            <div class="form-group py-2 ">
                <input id="country"
                       th:name="country"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       th:field="*{country}"
                       placeholder="Enter your country..."/>
                <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}"
                   class="invalid-feedback errors alert alert-danger"></p>
            </div>

            <div class="button-holder justify-content-center m-auto d-flex">
                <input type="submit" class="btn btn-danger btn-block " value="Update profile">
            </div>
        </form>

        <form id="updatePasswordForm"
              th:action="@{/user/password}"
              th:method="POST"
              th:object="${userUpdatePasswordDTO}"
              class="mx-auto col-md-12 flex-column justify-content-center ">
            <!-- type="hidden" -->
                        <input type="hidden" th:errorclass="is-invalid" th:name="currentEmail" th:field="${userUpdateMainDetailsDTO.currentEmail}">
                        <p th:if="${#fields.hasErrors('currentEmail')}"    th:errors="*{currentEmail}"></p>

            <div class="form-group py-2">

                <input id="oldPassword"
                       th:name="oldPassword"
                       th:errorclass="is-invalid"
                       type="password"
                       class="form-control"
                       placeholder="Enter your old password..."/>
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                   class="invalid-feedback errors alert alert-danger"></p>

            </div>

            <div class="form-group py-2">
                <input id="newPassword"
                       th:name="newPassword"
                       th:errorclass="is-invalid"
                       type="password"
                       class="form-control"
                       placeholder="Enter your new password..."/>
                <p th:if="${#fields.hasErrors('newPassword')}"
                   th:errors="*{newPassword}"
                   class="invalid-feedback errors alert alert-danger"></p>
            </div>

            <div class="form-group py-2">
                <input id="confirmPassword"
                       th:name="confirmPassword"
                       th:errorclass="is-invalid"
                       type="password"
                       class="form-control"
                       placeholder="Confirm your new password"/>
                <p th:if="${#fields.hasErrors('confirmPassword')}"
                   th:errors="*{confirmPassword}"
                   class="invalid-feedback errors alert alert-danger"></p>
            </div>
            <div class="button-holder justify-content-center m-auto d-flex">
                <input type="submit" class="btn btn-danger btn-block " value="Update password">
            </div>


        </form>

        <form id="updateEmailForm"
              th:action="@{/user/email}"
              th:method="POST"
              th:object="${userUpdateEmailDTO}"
              class="mx-auto col-md-12 flex-column justify-content-center ">
            <!-- type="hidden" -->

                <input   type="hidden" id="oldEmail"          th:name="oldEmail"
                       th:errorclass="is-invalid"   th:field="*{oldEmail}" />
                <p th:if="${#fields.hasErrors('oldEmail')}" th:errors="*{oldEmail}"
                   class="invalid-feedback errors alert alert-danger"></p>



            <div class="form-group py-2">

                <input id="newEmail"
                       th:name="newEmail"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Enter your new email..."/>
                <p th:if="${#fields.hasErrors('newEmail')}"
                   th:errors="*{newEmail}"
                   class="invalid-feedback errors alert alert-danger"></p>

            </div>

            <div class="form-group py-2">
                <input id="confirmEmail"
                       th:name="confirmEmail"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Confirm your new email..."/>
                <p th:if="${#fields.hasErrors('confirmEmail')}"
                   th:errors="*{confirmEmail}"
                   class="invalid-feedback errors alert alert-danger"></p>
            </div>

            <div class="form-group py-2">
                <input id="currentPassword"
                       th:name="currentPassword"
                       th:errorclass="is-invalid"
                       type="password"
                       class="form-control"
                       placeholder="Enter your password..."/>
                <p th:if="${#fields.hasErrors('currentPassword')}"
                   th:errors="*{currentPassword}"
                   class="invalid-feedback errors alert alert-danger"></p>
            </div>
            <div class="button-holder justify-content-center m-auto d-flex">
                <input type="submit" class="btn btn-danger btn-block " value="Update email">
            </div>

        </form>

    </div>


</div>


</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

<script>

    //    $(document).ready(function () {
    //        $("#updateProfileForm").hide();
    //
    //        $("#buttonShow").click(function () {
    //            $("#updateProfileForm").toggle(1000);
    //
    //        });
    //
    //    });

</script>
</body>

</html>