<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<h3>Hello, <th:block th:text="${user_first_name}">Customer</th:block>!</h3>
Welcome to Bikes-Shop!
<br>
<br>
Please follow the  <a class="card-link" th:href="@{${uri}}">link</a> in order to activate your account.
<br>
<br>
Your Bikes-Shop!
</body>
</html>