<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<h3>Hello, <th:block th:text="${user_first_name}">Customer</th:block>!</h3>

We have identified an update to your Bikes-Shop account at: <th:block th:text="${timeOfUpdate}">TIMESTAMP</th:block>.
<br>
<br>
If that was you, no further action is required.
<br>
<br>
If that was not you, please immediately contact us at service@bikes-shop.com.
<br>
<br>
<br>
Your Bikes-Shop!

</body>
</html>