<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body >
<div>    <nav th:replace="~{fragments/navigation}"></nav></div>

<div class="container pt-5  " style="width: 550px">
    <div class="d-flex flex-column">
        <div class="p-2 border-right  border-bottom">
            <h5  th:text="#{services.online.h}"></h5>
            <p th:text="#{services.online.p}"></p>
        </div>
        <div class="p-2 border-left border-bottom">
            <h5 th:text="#{services.physical.h}"></h5>
            <p th:text="#{services.physical.p}"></p>
        </div>
        <div class="p-2 border-right border-bottom">
            <h5 th:text="#{services.workshop.h}"></h5>
            <p th:text="#{services.workshop.p}"></p>
        </div>
    </div>

</div>


<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>

</html>