<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body >
<div>    <nav th:replace="~{fragments/navigation}"></nav></div>

<div class="container pt-5  " style="width: 550px">
    <div class="d-flex flex-column">
        <div class="p-2 border-right  border-bottom">
            <h6  th:text="#{services_online_h}"></h6>
            <p th:text="#{services_online_p}"></p>
        </div>
        <div class="p-2 border-left border-bottom">
            <h6 th:text="#{services_physical_h}"></h6>
            <p th:text="#{services_physical_p}"></p>
        </div>
        <div class="p-2 border-right border-bottom">
            <h6 th:text="#{services_workshop_h}"></h6>
            <p th:text="#{services_workshop_p}"></p>
        </div>
    </div>

</div>


<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>

</html>