<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body >
<div>    <nav th:replace="~{fragments/navigation}"></nav></div>

<div class="container pt-5  " style="width: 550px">
    <div class="d-flex flex-column">
        <div class="p-2 border-right  border-bottom">
            <h6>Online-shop</h6>
            <p>Purchase products online.</p>
        </div>
        <div class="p-2 border-left border-bottom">
            <h6>Physical shop</h6>
            <p>Come to our local shop to service your bike.</p>
        </div>
        <div class="p-2 border-right border-bottom">
            <h6>Workshops</h6>
            <p>Once a month, participate in our bike maintenance workshop.</p>
        </div>
    </div>

</div>


<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>

</html>